// Page structure.
body * {
	box-sizing: border-box;
}

.page {
	background: $color__white;
	margin: 0;
	max-width: $size__site-width;
	padding: 0;
	overflow: auto;
}

// Split into two columns on tablets and above.
@include tablet {
	.navigation {
		position: fixed;
		top: 0;
		bottom: 0;
		border-right: 1px solid $color__neutral-highlight;
		padding-top: 0;
		width: 270px;
	}

	.content {
		margin-left: 270px;
		min-height: calc(100vh - 5.375rem);
	}
}

// Navigation.
.navigation {
	background: $color__pure-white;
	text-align: center;
}

.navigation .logo {
	padding: $size__site-gutter;
}

.navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;

	li::before {
		display: none;
	}

	a {
		border-top: 1px solid $color__white;
		color: $color__neutral;
		display: block;
		padding: $size__site-gutter/2;
		text-decoration: none;
		width: 100%;
		transition: width 200ms ease-in-out;
	}

	a:hover {
		color: $color__black;
	}

	a.active {
		background: lighten($color__white, 0.5);
		border-right: 4px solid $color__accent;
		color: $color__accent;
		font-weight: 500;
		width: calc(100% + 14px);
	}

	li:last-of-type a {
		border-bottom: none;
	}
}

// Navigation section titles
.nav-list-title {
	@include small-caps;
	color: $color__green;
	padding: $size__site-gutter $size__site-gutter/2 0;
}

// Content.
.content {
	padding: $size__site-gutter;

	@include tablet {
		padding: $size__site-gutter*2;
	}
}

// Content sections/panels.
.panel {
	min-height: 85vh;
	padding-bottom: $size__site-gutter*2;

	h2 {
		border-bottom: 1px solid;
		margin-bottom: $size__site-gutter;
		padding-bottom: $size__site-gutter/2;
	}
}
