$color__red: #A6302C;
$color__green: #698f3f;
$color__yellow: #E8B136;
$color__blue: #003459;

$color__primary: $color__blue;
$color__secondary: $color__green;
$color__accent: $color__red;

$color__black: #00171f;
$color__neutral: #9ea3b0;
$color__neutral-highlight: #DBD4C6;
$color__white: #f7f9f9;
$color__pure-white: #FFFFFD;

// Background & body text
$color__background-body: $color__white;
$color__text-main: $color__black;

// Links
$color__link: $color__accent;
$color__link-visited: $color__link;
$color__link-hover: $color__primary;

// Interface elements
$color__warning: $color__red;
$color__warning-background: #faf4f4;

// Inputs
$color__border-input: #ccc;
$color__text-input: #666;
$color__text-input-focus: #111;

// Buttons
$color__background-button: #e6e6e6;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

// Misc HTML elements
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

// Screenreader stuff; best to leave be.
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
