.activity-card,
.resource-card {
	@include box-shadow;
	background-color: $color__pure-white;
	margin: $size__site-gutter 0;
	padding-bottom: $size__site-gutter/2;
	position: relative;

	@include mobile {
		margin-left: -#{$size__site-gutter};
		width: calc(100% + #{$size__site-gutter*2});
	}

	p,
	ul,
	ol {
		margin: 0;
		padding: 0 $size__site-gutter $size__site-gutter/2;
	}
}

.activity-card-title,
.resource-card-title {
	color: $color__pure-white;
	font-family: $font__main;
	@include font-size(1);
	padding: $size__site-gutter/2 $size__site-gutter;
}

.activity-card-title {
	background: $color__secondary;
}

.resource-card-title {
	background: $color__primary;
}
