

ul, ol {
	margin: 0 0 1.5em 0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	list-style: none;
	position: relative;
}

ul li::before,
ol li::before {
	content: '\2022';
	font-size: 0.75em;
	line-height: 2;
	position: absolute;
	right: 100.5%;
}

ol {
	counter-reset: listnumber;
}

ol li {
	counter-increment: listnumber;

	&::before {
		content: counter(listnumber) ".";
		right: 101%;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	@include label;
}

dd {
	margin: 0 1.5em 1.5em;
}
