/*
These are the primary CSS styles for our microsite.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Alignments
# Clearings
# Typography
# Forms
# Buttons
# Formatting
# Lists
# Tables
# Navigation
# Links
# Layout
	## Posts
	## Pages
# Comments
# Widgets
# Infinite scroll
# Media
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #00171f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  color: #003459;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 40px; }

h1 {
  font-size: 3.125em;
  letter-spacing: -0.05em;
  line-height: 1; }

h2 {
  font-size: 2.618em;
  letter-spacing: -0.025em; }

h3 {
  font-size: 1.931em; }

h4 {
  font-size: 1.618; }

h5 {
  font-size: 1.194em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 40px; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

label,
.label {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #003459;
  display: block;
  font-weight: 600;
  padding-bottom: 5px; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul, ol {
  margin: 0 0 1.5em 0;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  list-style: none;
  position: relative;
  margin-bottom: 10px; }

ul li::before,
ol li::before {
  content: '\2022';
  font-size: 0.75em;
  line-height: 2;
  position: absolute;
  right: 100.5%; }

ol {
  counter-reset: listnumber; }

ol li {
  counter-increment: listnumber; }
  ol li::before {
    content: counter(listnumber) ".";
    right: 101%; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #003459;
  display: block;
  font-weight: 600;
  padding-bottom: 5px; }

dd {
  margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a,
a:link,
a:visited {
  color: #A6302C; }
  a:hover, a:focus, a:active,
  a:link:hover,
  a:link:focus,
  a:link:active,
  a:visited:hover,
  a:visited:focus,
  a:visited:active {
    color: #003459; }
  a:focus,
  a:link:focus,
  a:visited:focus {
    outline: thin dotted; }
  a:hover, a:active,
  a:link:hover,
  a:link:active,
  a:visited:hover,
  a:visited:active {
    outline: 0; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.activity-card,
.resource-card {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFD;
  margin: 40px 0;
  padding-bottom: 20px;
  position: relative; }
  @media (max-width: 639px) {
    .activity-card,
    .resource-card {
      margin-left: -40px;
      width: calc(100% + 80px); } }
  .activity-card p,
  .activity-card ul,
  .activity-card ol,
  .resource-card p,
  .resource-card ul,
  .resource-card ol {
    margin: 0;
    padding: 0 40px 20px; }

.activity-card-title,
.resource-card-title {
  color: #FFFFFD;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding: 20px 40px; }

.activity-card-title {
  background: #698f3f; }

.resource-card-title {
  background: #003459; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
body * {
  box-sizing: border-box; }

.page {
  background: #f7f9f9;
  margin: 0;
  max-width: 1040px;
  padding: 0;
  overflow: auto; }

@media (min-width: 640px) {
  .navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid #DBD4C6;
    padding-top: 0;
    width: 270px; }
  .content {
    margin-left: 270px;
    min-height: calc(100vh - 5.375rem); } }

.navigation {
  background: #FFFFFD;
  text-align: center; }

.navigation .logo {
  padding: 40px; }

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%; }
  .navigation ul li::before {
    display: none; }
  .navigation ul a {
    border-top: 1px solid #f7f9f9;
    color: #9ea3b0;
    display: block;
    padding: 20px;
    text-decoration: none;
    width: 100%;
    transition: width 200ms ease-in-out; }
  .navigation ul a:hover {
    color: #00171f; }
  .navigation ul a.active {
    background: #f8fafa;
    border-right: 4px solid #A6302C;
    color: #A6302C;
    font-weight: 500;
    width: calc(100% + 14px); }
  .navigation ul li:last-of-type a {
    border-bottom: none; }

.content {
  padding: 40px; }
  @media (min-width: 640px) {
    .content {
      padding: 80px; } }

.panel {
  min-height: 85vh;
  padding-bottom: 80px; }
  .panel h2 {
    border-bottom: 1px solid;
    margin-bottom: 40px;
    padding-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
